{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" class="style">
</head>
<body>

<nav class="navbar navbar-expand-md bg-light navbar-light navbar-fixed-top">
    <div class="container navbar-container">
        <a class="navbar-brand" href="{% url 'index' %}"><b>DonatersView.org</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}"><strong>HOME</strong></a></li>
                <li><a href="{% url 'donate' %}"><strong>DONATE</strong></a></li>
                <li><a href="{% url 'donor' %}"><strong>BECOME A BLOOD DONOR</strong></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}


</body>
</html>
